html { 
  background: url(/Users/Priyanka/Desktop/Jashmin-Website/images/Ava-Sketch.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Helvetica Neue', sans-serif;
  text-align: center;
}
 .profile{
	border-radius: 12px;
	width: 400px;
	height: 435px;
	background: rgba(0,0,0,0.4);
	padding: 40px;
	margin:0 auto;
	color: white;
}
 .profile-pic {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	margin:0 auto;
}
 .profile-pic:hover {
	transform: scale(1.2) rotate(720deg);
}
 h1 {
	letter-spacing: 10;
	font-weight: 100;
	font-size: 40px;
}
 .social-icons {
	font-size: 40px
}
 .social-icons a {
	color: white;
}
 li {
    float: left;
    border-right: 1px solid Grey;
}
 li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
 .navigation_bar {
	border-radius: 12px;
    list-style-type: none;
    margin: 1;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
 .active {
    background-color: Green;
}
 li a:hover:not(.active) {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
} 