html {
   background: url(/Users/juliusk/Projects/Web-design/homepage.png) no-repeat center center fixed; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   font-family: 'Helvetica Neue', sans-serif;
   text-align: center;
}

h1 {
   letter-spacing: 10;
   font-weight: 100;
   font-size: 40px;
}

li {
   float: left;
}

li a {
   display: block;
   color: blue;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
}

.navigation_bar {
   float: right;
   list-style-type: none;
   margin: 0;
   padding-top: 20px;
   overflow: hidden;
   background-color:;
   width: 500px;
}

.logo {
   float: left;
   padding-top: 20px;
   width: 500px;
}

.page_center {
   height: 100px;
   overflow: hidden;
   border-bottom: 1.9px solid red;
   margin-left: 250px;
}

.center_text {
   color: blue;
   font-size: 60px;
   margin: 300px 0px 350px 600px;
   text-align: left;
   width: 811px;
}

.learn_more {
   text-decoration: none;
   width: 352px;
   font-size: 24px;
   padding: 10px;
   background-color: orange;
   color: white;
}

li a:hover:not(.active) {
   box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
} 